{% extends "base.html" %}

{% block content %}

<h3>Users</h3>

<table class="table table-hover">
    <thead>
    <tr>
        <th></th>
        <th scope="col">state</th>
        <th scope="col">id</th>
        <th scope="col">traits</th>
        <th scope="col">roles</th>
        <th scope="col">created</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <th>
                    <img alt="user-{{ user.id }}" class="rounded-circle" src="{{ url_for('static', path='images/default-avatar.png') }}" style="width: 25px">
                </th>
                <th>{{ user.state }}</th>
                <th><span style="white-space: nowrap">{{ user.id }}</span></th>
                <td>{{ user.traits }}</td>
                <td>coming soon</td>
                <td>{{ user.created_at | dateformat }}</td>
                <td><a class="btn btn-sm btn-info" href="{{ url_for('user-detail', id=user.id) }}">view</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
