import { Actions, createEffect, ofType } from '@ngrx/effects';
import { inject, Injectable } from '@angular/core';
import { action{{.EntityName}}GetList, action{{.EntityName}}SetList, } from './{{.Module}}.actions';
import { exhaustMap, of, switchMap } from 'rxjs';
import { {{.EntityName}}Api } from '../api/api.service';

@Injectable()
export class {{.EntityName}}Effects {
    private actions$ = inject(Actions);
    private {{.Module}}sApi = inject({{.EntityName}}Api);

    get_{{.Module}}s_list$ = createEffect(() =>
        this.actions$.pipe(
            ofType(action{{.EntityName}}GetList),
            exhaustMap(() =>
                this.{{.Module}}sApi
                    .Get{{.EntityName}}s()
                    .pipe(switchMap((data) => of(action{{.EntityName}}SetList({ {{.Module}}s: data })))),
            ),
        ),
    );
}
