APP_ADMIN_ENV="development"
APP_ADMIN_PORT=8003
APP_ADMIN_WEB_TEMPLATES_PATH=<absolute path to>/admin/web/templates
APP_ADMIN_WEB_STATIC_PATH=<absolute path to>/admin/web/static
APP_ADMIN_SECRET=<$ gpg --gen-random --armor 1 124>

APP_ADMIN_KRATOS_ADMIN=http://localhost:4434