APP_MARKET_ENV="development"
APP_MARKET_DATASOURCE="localhost:50051"
APP_MARKET_WEB_TEMPLATES_PATH=<absolute path to>/market/web/templates
APP_MARKET_WEB_STATIC_PATH=<absolute path to>/market/web/static
APP_MARKET_SECRET=<$ gpg --gen-random --armor 1 124>
